@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --i-color: #152de6;
}
@layer components {
    .i-color {
        color: var(--i-color);
    }
    .bg-i-color {
        background-color: var(--i-color);
    }
    .border-i-color {
        border-color: var(--i-color);
    }
    .hover\:i-color:hover {
        color: var(--i-color);
    }
    .hover\:bg-i-color:hover {
        background-color: var(--i-color);
    }
}
